name: Go
on: [ push ]
jobs:

  build:
    permissions:
      contents: write
    strategy:
      matrix:
        goos: [windows, linux, darwin, freebsd]
        goarch: [amd64, 386]
        exclude:
          # Exclude i386 on darwin.
          - goarch: 386
            goos: darwin
        include:
          # BEIGIN MacOS ARM64
          - goos: darwin
            goarch: arm64
          # END MacOS ARM64
          # BEGIN Linux ARM 7
          - goos: linux
            goarch: arm
            goarm: 7
          # END Linux ARM 7
          # BEGIN Android ARM 8
          - goos: android
            goarch: arm64
          # END Android ARM 8
          # Windows ARM
          - goos: windows
            goarch: arm64
          # BEGIN Other architectures
          # BEGIN riscv64 & ARM64
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: riscv64
          # END riscv64 & ARM64
          # BEGIN MIPS
          - goos: linux
            goarch: mips64
          - goos: linux
            goarch: mips64le
          - goos: linux
            goarch: mipsle
          - goos: linux
            goarch: mips
          # END MIPS
          # END Other architectures
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOARM: ${{ matrix.goarm }}
      CGO_ENABLED: 0
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          check-latest: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          go build -ldflags "-s -w" -o beihangLogin .
      - name: Build background beihangLogin on Windows
        if: matrix.goos == 'windows'
        run: |
          go build -ldflags "-s -w -H windowsgui" -o beihangLogin.${{ env.GOARCH }}.nogui.exe .

      - name: Rename Windows beihangLogin
        if: matrix.goos == 'windows'
        run: |
          mv beihangLogin beihangLogin.exe
      - name: Change the name
        run: |
          mv beihangLogin beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }} || mv beihangLogin.exe beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }}.exe
      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: beihangLogin.${{ env.GOOS }}.${{ env.GOARCH }}
          path: |
            ./beihangLogin.*
